*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* This is Header !!!!    */
.container-fuild{
    width: 100%;
}

.logo img{
    height: 70px;
}
.container{
    width: 60%;
    margin: 0 auto;
}

.header{
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.header__item.logo{
    flex: 2;
}
li{
    list-style: none;
}
.nav>li{
    display: inline-block;
    position: relative;
    padding: 0 10px;
    text-transform: uppercase; 
    font-size: 14px;
}
.nav>li::before{
    content: "";
    height: 80px;
    position: absolute;
    width: 90%;
}
ul.nav>li a{
    color: #000;
}
.nav> li:hover .sub-nav{
    display: block;
}
a {
    text-decoration: none;
}
.sub-nav{
    display: none;
    background-color: rgb(42, 44, 44);
    position: absolute;
    width: 150%;
    top: 45px;

}
.sub-nav li{
    padding: 5px;
}

ul.sub-nav li a{
    color: rgb(122, 117, 117);
    font-size: 13px;
    line-height: 20px;
}

ul{
    list-style-type: none;
}

.button--red{
    color: #fff;
    background-color: red;
    padding: 10px;
    border: none;
}
.button:hover{
    color: #000;
}

i.ti-angle-down{
    font-size: 11px;
}

.header__login .button{
    margin-left: 30px;
}

.header__item.button{
    display: none;
}
/*      This is Content !!!!!   */
#content{
    height: 800px;
    background: url(/asstets/images/Landing\ Page\ -\ PC.jpg) center no-repeat;
    background-size: cover;
}
.text-content{
    padding-top: 15%;
    text-align: center;
    color: #fff;
}
.text-content p{
    font-size: 11px;
    margin-top: 20px;
}

.find-job{
    margin-top: 50px;
    background-color: #59a8c6;
    width: 100%;
}

.find-job__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.find-job__item{
    padding: 20px;
}
.find-job__item select{
    padding: 15px 80px;
}
.find-job__item input{
    padding: 15px 65px;
}
.find-job__item.search{
    position: relative; 
}
.find-job__item .btn-search{
    position: absolute;
    border: none;
    top: 30%;
    font-size: 16px;
    background-color: #fff;
    left: 30px;
}
.find-job__item .button--red{
    padding: 15px 20px; 
    font-size: 18px;
    margin-right: 20px;
}

/* This is Category   */
.category{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.category__img{
    flex-basis: 33%; 
    position: relative;
}
.category__img img{
    width:100%;
    height: 100%;
}
.category__img> h3,.category__text,.category__view{
    position: absolute;
    left: 10px;
    color: #fff;
}

.category__tillte{
    top: 20px;
}
.category__text{
    top: 50px;
    width: 210px;
    height: 50px;
    justify-content: left;
    line-height: 25px;
}
.category__view{
    bottom: 20px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    color: #fff;
}
.first{
    background-color: #569db9;
}

.first:hover{
    background-color: #a5d5ee;
}
.second{
    background-color: #45464b;
}

.second:hover{
    background-color: #767879;
}
.last{
    background-color: #9f4195;
}
.last:hover{
    opacity: 0.8;
}
.hover-up:hover{
    transform: translateY(-5px);
}

.category__content{
    margin-top: 70px;
    text-align: center;
}
.img-content{
    max-width: 50px;
    max-height: 50px;
}

.category__app{
    margin-top: 30px;
}

.category__app{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category__app  .category__app--item{
    position: relative;
    height: 80px;
    flex-basis: 21%;
    border: 1px solid #ddd6d0;
    margin: 15px 0px;
}

.category__app--item>i{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 5px;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid;
    padding: 10px 12px;
    background-color: #dedbd7;
}

.category__app--item .item__title{
    position: absolute;
    top: 20px;
    left: 70px;
}

.job__title{
    color: #000;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
}

.job--count{
    color: #000;
    font-size: 12px;
}

.category__view--jobs{
    text-align: center;
    margin: 30px 0px 100px;
}

.category__view--jobs .button{
    padding: 10px;
    border-radius: 5px;
}

/* This is Feature JOB   */
.feature{
    height: 580px;
    background-color: #1d73be;
}

.feature__content h2{
    padding-top: 80px;
    color: #fff;
}
.feature__content>img{
    max-width: 50px;
    max-width: 50px;
}
.feature__items{
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 350px;
}

.right>button,.left>button{
    position: absolute;
    padding: 5px;
    background-color: #1d73be;
    color: #fff;
    border: 1px solid#fff;
    border-radius: 50%;
    cursor: pointer;
}

.right >button{
    top: 45%;
    right: -45px;
}

.left >button{
    top: 45%;
    left: -30px;
}

.feature__items{
    display: flex;
    justify-content: space-between;
}
.item__job{
    flex-basis: 22%;
    height: 335px;
    background-color: #fff;
    position: relative;
}


.item__job>a{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    width: 30px;
    font-size: 15px;
    color: #fff;
    background-color: #ed4747;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    line-height: 22px;
}

.job-logo{
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}

.item__job>p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    line-height: 23px;
    font-weight: bold;
    font-size: 15px;
}

.item__job--date{
    padding:15px 20px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgb(88, 88, 88);
}

.item__job--date>a{
    float: right;
    right: 20px;
    background-color: #ed4747;
    color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}
/* This is News  */

.news{
    background-color: #fff;

}

.news__title {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.title__item{
    flex-basis: 48%;
}

.title__item >iframe{
    max-height: 100%;
    max-width: 100%;
}
.title__item> h2{
   font-weight: bolder; 
   font-size: 26px;
}

.title__item p{
    line-height: 25px;
    font-size: 14px;
    margin: 20px 0;
}

.title__item button i{
    border: none;
    background-color: #a31515;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 14px;
}
.title__item button{
    position: relative;
    background-color: #fc4446;
    padding: 10px;
    color: #fff;
    padding: 10px 10px 10px 45px;
    border: none;
    cursor: pointer;
}

.lastest-news__content{
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.lastest-news__content img{
    max-height: 50px;
    max-width: 50px;
}
.lastest-news__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news__item{
    flex-basis: 48%;
    height: 190px;
    border: 1px solid rgb(56, 56, 55);
    margin: 20px 0 ;
}

.news__item--img{
    float: left;
    width: 40%;
    height: 100%;
}
.news__item--img > img{
    width: 100%;
    height: 100%;
}
.news__item--show{
    width: 60%;
    float: right;
    padding: 10px;

}
.news__item--show h4{
    margin: 10px 0;
}
.news__item--show span{
    font-size: 13px;    
}
.news__item--icon{
    padding-top:20px ;
}

.news__item--icon a>i{
    border: 1px solid;
    border-radius: 50%;
    font-size: 15px;
    padding: 5px;
}
 
.news__item--icon span{
    float: right;
}

.icon-news.ti-facebook{
    color: #405487;
}
.icon-news.ti-twitter-alt{
    color: #1e94da;
}
.icon-news.ti-google{
    color: #e76f61;
}
.news__item--icon> .icon-news.ti-plus{
    background-color: #e76f61;
    color: #fff;
    border-radius: 0;
}

.news__item--icon span i {
    padding-right:5px ;
}

/* This is Statistics    */

.statistics{
    margin-top: 50px;
    background: url(/asstets//images/background2.jpg) no-repeat center/cover;
    text-align: center;
    position: relative;
    padding-bottom: 80px;
}
.statistics__content{
    position: relative;
    padding-top: 10%;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.statistics__content img{
    max-height: 50px;
    max-width: 50px;
}
.statistics__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.statistics__item{
    flex: 1 0 20%;
    border-right: 1px solid black;
}
.statistics__item:last-child{
    border: none;
}
.statistics__item span{
    display: block;
    line-height: 30px;
}
.statistics__item .statistics__item--count{
    color: red;
    font-size: 24px;
}

.statistics__item .statistics__item--title{
    color: #fff;
}

/*  This is logog company    */

.logo-company{
    background-color: #fff;
    margin: 80px 0;
}

.logo-company__content{
    text-align: center;
    margin: 0 auto;
}

.logo-company__content h2{
    padding: 10px;
}
.logo-company__content img{
    max-height: 50px;
    max-width: 50px;
}

.logo-company__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.logo-company__item{
    flex: 1 0 16%;
    margin-bottom: 20px;
    text-align: center;
}

.logo-company__item img{
    max-width: 100%;
    background-size: cover;
    max-height: 100%;
}

/* This is footer !!!!  */

.footer{
    margin-top: 50px;
    background-color: #2d3e50;
    color: #8592a3;
    font-size: 14px;
}
.footer .footer-title{
    color: #fff;
    font-size: 18px;
}

.footer-top{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-top__item{
    flex: 1 0 30%;
}
.f-first img {
    margin-bottom: 10px;
}
.f-first p{
    max-width: 80%;
    line-height: 30px;
}
.f-first .footer-top__icon{
    margin: 30px 0;
}

.footer-top__icon a {
    color: #f44647;
    border: 1px solid #f44647;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 11px;
    margin-left: 5px;
}

.f-mediumn ul{
    margin-top: 25px;
}

.list__question  a i {
    font-size: 9px;
}

.list__question  li a {
    color: #8592a3;
    line-height: 25px;
}

.f-last p{
    margin: 20px 0;
    line-height: 25px;
    width: 85%;
}

.f-last input{
    padding-right: 35px;
    border-radius: 5px;
    border: none;
    padding: 13px;
    padding-right: 30px;
    margin-right: 10px;
}

.f-last button{
    color: #000;
    border-radius: 50%;
    border: none;
    background-color: #fb4446;
    font-weight: 900;
    padding: 10px 14px;
    cursor: pointer;
}

.footer-bottom{
    padding-top: 50px;
    border-top: 0.1px solid #8592a3;
    text-align: center;
}
.list__question.one-row{
    display: inline-block;
    width: 100%;
}
.list__question.one-row li{
    display: inline-block;
    color: #798998;
    font-size: 12px;
}

.one-row i {
    margin: 0 4px;
}

.f-owner{
    margin: 0 auto;
    width: 34%;
    border-top: 0.1px solid #8592a3;
    text-align: center;
    margin-top: 30px;
    padding: 50px 0px;
}

.f-owner a{
    color: #fb4446;
    text-decoration: underline;
}

/*  On tablet and Mobie */
@media screen and (max-width:768px) {
    .container{
        width: 92%;
    }
    
    .header__item.nav{
        display: none;
    }
    .header__item.button{
        display: block;
        margin-left: 10px;
    }
    .find-job__list{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .find-job__item{
        width: 100%;
        padding: 5px;

    }
    .find-job__item .s-full{
        width: 100%;
        box-sizing: border-box;
    }

    .category{
        flex-wrap: wrap;
    }
    
    .category__img{
        flex-basis: 100%;
        height: 200px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .right,.left{
        display: none;
    }

}
/*  On Tablet */
@media only screen and (min-width:401px) and (max-width:768px){
    #content{
        height: 600px;
    }
    .item__job{
        flex-basis: 33%;
    }
    .item__job:last-child{
        display: none;
    }

    .news__item{
        flex-basis: 100%;
    }
    .category__app .category__app--item{
        flex-basis: 48%;
    }
    .statistics__item{
        flex-basis: 48%;
        margin-bottom: 20px;
    }

    .statistics__item:nth-child(2n){
        border: none;
    }

    .logo-company__item{
        flex-basis: 32%;
    }

    .footer-top__item{
        flex-basis: 48%;

    }
}

/*  On the Mobile */
@media only screen and (max-width:400px) {
    h1{
        font-size: 57px;
    }
    .header{
        position: relative;
    }
    .header__item.nav{
        display: none;
        position: absolute;
        right: 0;
        top: 80%;
        width: 70%;
        background-color: #000;
        height: 0;
    }

    .nav>li{
        width: 100%;
        padding: 5px;
    }
    ul.nav>li a{
        color: #fff;
    }

    .sub-nav{
        top: 30px;
    }
    .header__itemnav li a i{
        float: right;
    }
    .category__text{
    top: 50px;
    width: 220px;
    height: 40px;
    justify-content: left;
    line-height: 20px;
    }

    .category__app .category__app--item{
        flex-basis: 100%;
    }
    .item__job{
        flex-basis: 100%;
        display: none;
    }
    .item__job.s-small{
        flex-basis: 100%;
        display: block;
    }

    .item__job>p{
        width: 100%;
        font-size: 14px;
        margin-top: 50px;
    }

    .job-logo{
        padding: 60px 0;
    }

    .title__item{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .news__title{
        flex-wrap: wrap;
    }

    .news__item{
        flex-basis: 100%;
        height: 380px;
    }
    
    .news__item--img{
        float: left;
        width: 100%;
        height: 50%;
    }
    
    .news__item--show{
        width: auto;
    }

    .statistics__item{
        flex-basis: 100%;
        border-right: 0;
        border-bottom: 1px solid black;
    }

    .footer-top__icon a{
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 10px;
    }
}
